<div class="footer container">
  <div class="footer-line"></div>
  <div class="footer-content">
    <div class="footer-logo">
      <%= link_to root_path do %>
        <%= image_tag "cool-logo.svg", class: "footer-logo"%>
      <% end %>
    </div>
    <div class="footer-social">
      <%= link_to "https://www.linkedin.com/in/fabre-mart%C3%ADnez-61682a16a/", target: '_blank' do %>
        <%= image_tag "RRSS-linkedin.svg", class: "footer-rrss__icon" %>
      <% end %>
      <%= link_to "https://github.com/Fabre-92", target: '_blank'  do %>
        <%= image_tag "RRSS-github.svg", class: "footer-rrss__icon" %>
      <% end %>
      <%= link_to "https://dribbble.com/fabre_92", target: '_blank' do %>
        <%= image_tag "RRSS-dribbble.svg", class: "footer-rrss__icon" %>
      <% end %>
    </div>
    <div class="footer-phrase">
      <p>or just contact me on <strong>afabregat92@gmail.com</strong></p>
   </div>
  </div>
</div>
