<div class="container">
  <div class="hero-home">
    <div class="animation-ease-out">
      <h1>
        young visual designer and front-end developer who loves details, weird things and, obviously, his mustache
      </h1>
    </div>
    <div class="chevron-hero">
      <%= image_tag 'chevron-down-hero.svg' %>
      <p>I designed for</p>
    </div>
  </div>
  <div class="home-projects">
    <div class="home-projects__title">
      <%= image_tag 'icon-pencil-b.png' %>
      <h2>some projects</h2>
    </div>
    <div class="projects-container">
      <div class="project">
        <%= image_tag 'project-orbita-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-orbita.png', class: "project-logo" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-cool-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'cool-logo.svg', class: "project-logo project-logo__small" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-cesur-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-cesur.png', class: "project-logo" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-ace-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-ace.png', class: "project-logo project-logo__small" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-maria-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-maria-green.png', class: "project-logo" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-civity-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-civity.png', class: "project-logo project-logo__small" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-verne-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-verne.png', class: "project-logo project-logo__med" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>

    </div>
  </div>

<div><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quasi facilis a iste voluptates tempora quia, accusantium similique asperiores praesentium nesciunt doloribus recusandae, cum vero hic autem aut, est, laudantium.</div>
<div>Qui maiores illum dolore numquam magnam quos animi voluptas, ipsa molestias excepturi impedit voluptates eum quas at, omnis consectetur nostrum doloremque, quia magni sed totam assumenda. Quis nostrum quos eaque!</div>
<div>Enim, dignissimos eligendi facere, nesciunt eos dolor. Maiores odio tempore reiciendis, iusto excepturi labore doloribus vitae natus dolor animi a ea quia consectetur, incidunt fuga. Numquam ratione doloribus aliquam, modi?</div>
<div>Fugit magnam, quasi voluptatibus. Nisi quam maiores aperiam reiciendis, vel tempora eos fugit sequi provident fuga, consectetur dolore dicta quis ex accusantium veritatis ipsa cupiditate illo nemo sapiente illum. Unde.</div>
<div>Fugiat in assumenda corporis ut libero quibusdam delectus molestias repellat nesciunt iste, vitae, soluta est explicabo minima. Quae, soluta, harum molestiae repudiandae nemo ullam beatae odit accusamus expedita, voluptatum ad?</div></div>
<div><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quasi facilis a iste voluptates tempora quia, accusantium similique asperiores praesentium nesciunt doloribus recusandae, cum vero hic autem aut, est, laudantium.</div>
<div>Qui maiores illum dolore numquam magnam quos animi voluptas, ipsa molestias excepturi impedit voluptates eum quas at, omnis consectetur nostrum doloremque, quia magni sed totam assumenda. Quis nostrum quos eaque!</div>
<div>Enim, dignissimos eligendi facere, nesciunt eos dolor. Maiores odio tempore reiciendis, iusto excepturi labore doloribus vitae natus dolor animi a ea quia consectetur, incidunt fuga. Numquam ratione doloribus aliquam, modi?</div>
<div>Fugit magnam, quasi voluptatibus. Nisi quam maiores aperiam reiciendis, vel tempora eos fugit sequi provident fuga, consectetur dolore dicta quis ex accusantium veritatis ipsa cupiditate illo nemo sapiente illum. Unde.</div>
<div>Fugiat in assumenda corporis ut libero quibusdam delectus molestias repellat nesciunt iste, vitae, soluta est explicabo minima. Quae, soluta, harum molestiae repudiandae nemo ullam beatae odit accusamus expedita, voluptatum ad?</div></div>
<div><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quasi facilis a iste voluptates tempora quia, accusantium similique asperiores praesentium nesciunt doloribus recusandae, cum vero hic autem aut, est, laudantium.</div>
<div>Qui maiores illum dolore numquam magnam quos animi voluptas, ipsa molestias excepturi impedit voluptates eum quas at, omnis consectetur nostrum doloremque, quia magni sed totam assumenda. Quis nostrum quos eaque!</div>
<div>Enim, dignissimos eligendi facere, nesciunt eos dolor. Maiores odio tempore reiciendis, iusto excepturi labore doloribus vitae natus dolor animi a ea quia consectetur, incidunt fuga. Numquam ratione doloribus aliquam, modi?</div>
<div>Fugit magnam, quasi voluptatibus. Nisi quam maiores aperiam reiciendis, vel tempora eos fugit sequi provident fuga, consectetur dolore dicta quis ex accusantium veritatis ipsa cupiditate illo nemo sapiente illum. Unde.</div>
<div>Fugiat in assumenda corporis ut libero quibusdam delectus molestias repellat nesciunt iste, vitae, soluta est explicabo minima. Quae, soluta, harum molestiae repudiandae nemo ullam beatae odit accusamus expedita, voluptatum ad?</div></div>

</div>
