<div class="container">
  <div class="hero-home">
    <div class="animation-ease-out">
      <h1>
        young visual designer and front-end developer who loves details, weird things and, obviously, his mustache
      </h1>
    </div>
    <div class="chevron-hero">
      <%= image_tag 'chevron-down-hero.svg' %>
      <p>I designed for</p>
    </div>
  </div>
  <div class="home-projects">
    <div class="home-projects__title">
      <%= image_tag 'icon-pencil-b.png' %>
      <h2>web UI/UX designs</h2>
    </div>
    <div class="projects-container">
      <div class="project">
        <%= image_tag 'project-orbita-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-orbita.png', class: "project-logo" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-cool-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'cool-logo.svg', class: "project-logo project-logo__small" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-cesur-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-cesur.png', class: "project-logo" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-ace-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-ace.png', class: "project-logo project-logo__small" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-maria-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-maria-green.png', class: "project-logo" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-civity-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-civity.png', class: "project-logo project-logo__small" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-verne-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-verne.png', class: "project-logo project-logo__med" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="home-designs">
    <div class="home-projects__title">
      <%= image_tag 'icon-engine-b.png' %>
      <h2>other designs</h2>
    </div>
    <div class="designs-container">
      <div class="design-project">
        <div class="header_img">
          <h3>branding</h3>
          <%= image_tag 'home-design-EFEM.png' %>
        </div>
        <div class="design-content">
          <p>the <strong>winner</strong> 🏆 of the <strong>logotype contest</strong> of the first edition of the CAFD meeting “El futuro en movimiento” (future in motion) for the University Miguel Hernandez (Elche, Spain).</p>
          <a href="#"> go to project <%= image_tag 'icon-chevron-stroke-right.svg' %> </a>
        </div>
      </div>
      <div class="design-project">
        <div class="header_img__inv">
          <h3>products</h3>
          <%= image_tag 'home-design-ROLSER.png' %>
        </div>
        <div class="design-content__inv">
          <p>a collaboration between <strong>rolser</strong> and ecovidrio. that design wants to reflect the form of the bottles waiting in the floor to be recycled.</p>
          <a href="#"> go to project <%= image_tag 'icon-chevron-stroke-right.svg' %> </a>
        </div>
      </div>
      <div class="design-project">
        <div class="header_img">
          <h3>packaging</h3>
          <%= image_tag 'home-design-NICEBALLS.png' %>
        </div>
        <div class="design-content">
          <p><strong>restyling</strong> of the <strong>packaging</strong> for the new 70% dark edition of <strong>Nice Balls.</strong> the new packaging had to have the same shape as the previous one, in this case, the design team only could make a single ink print.</p>
          <a href="#"> go to project <%= image_tag 'icon-chevron-stroke-right.svg' %> </a>
        </div>
      </div>
    </div>
  </div>


</div>
