<div class="container">
  <div class="home-projects">
    <div class="header-page">
      <%= image_tag "icon-pencil-b.png" %>
      <h1>projects</h1>
    </div>
    <div class="projects-container">
      <div class="project">
        <%= image_tag 'project-orbita-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-orbita.png', class: "project-logo" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-cool-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'cool-logo.svg', class: "project-logo project-logo__small" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-cesur-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-cesur.png', class: "project-logo" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-ace-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-ace.png', class: "project-logo project-logo__small" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-maria-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-maria-green.png', class: "project-logo" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-civity-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-civity.png', class: "project-logo project-logo__small" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
      <div class="project">
        <%= image_tag 'project-verne-home.png', class: "project-image" %>
        <a href="#">
          <div class="project-card">
            <%= image_tag 'logo-verne.png', class: "project-logo project-logo__med" %>
            <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="header-section">
      <%= image_tag 'icon-search-b.svg' %>
      <h2>and looking for more projects...</h2>
    </div>
  <div class="about-me__contact">
    <div class="home-card">
      <%= link_to root_path, class: "align-items" do %>
          <p><strong>go back home</strong></p>
          <%= image_tag 'icon-chevron-right.svg', class: "project-chevron" %>
      <% end %>
    </div>
  </div>

  <div>

  </div>
</div>





















